# **(RETAIL SALES DATA ANALYSIS)**

## Objectives

* Analyse retail sales data to identify trends, insights, and the impact of promotional markdowns on sales. 

* Provide comprehensive, visually appealing sales reports and insights to assist in strategic decision-making.

## Inputs

*  Data from the Excel sheets (Stores, Features, Sales) downloaded from https://www.kaggle.com/datasets/manjeetsingh/retaildataset/data

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [6]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/Retail-Sales-Data-Analysis'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [24]:
os.chdir(os.path.dirname(current_dir))
print("Retail_Sales")

Retail_Sales

Confirm the new current directory

In [25]:
current_dir = os.getcwd()
current_dir

'/'

# Section 1

Section 1 content

In [4]:
import pandas as pd
import numpy as np

In [5]:
# Load the CSV file into a Data Frame
df_features = pd.read_csv("/workspace/Retail-Sales-Data-Analysis/jupyter_notebooks/Features_data_set.csv")

# Display the first 10 rows of the Data Frame
print(df_features.head(10))

   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN
5      1  12/03/2010        57.79       2.667        NaN        NaN
6      1  19/03/2010        54.58       2.720        NaN        NaN
7      1  26/03/2010        51.45       2.732        NaN        NaN
8      1  02/04/2010        62.27       2.719        NaN        NaN
9      1  09/04/2010        65.86       2.770        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
5        NaN        NaN        NaN  211.380643         8.106      False
6        NaN        NaN        NaN  211.215635         8.106      False
7        NaN        NaN        NaN  211.018042         8.106      False
8        NaN        NaN        NaN  210.820450         7.808      False
9        NaN        NaN        NaN  210.622857         7.808      False

In [6]:
# Load the CSV file into a Data Frame
df_sales = pd.read_csv("/workspace/Retail-Sales-Data-Analysis/jupyter_notebooks/sales_data_set.csv")

# Display the first 10 rows of the Data Frame
print(df_sales.head(10))

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
5      1     1  12/03/2010      21043.39      False
6      1     1  19/03/2010      22136.64      False
7      1     1  26/03/2010      26229.21      False
8      1     1  02/04/2010      57258.43      False
9      1     1  09/04/2010      42960.91      False

In [7]:
# Load the CSV file into a Data Frame
df_stores = pd.read_csv("/workspace/Retail-Sales-Data-Analysis/jupyter_notebooks/stores_data_set.csv")

# Display the first 10 rows of the Data Frame
print(df_stores.head(10))

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875
5      6    A  202505
6      7    B   70713
7      8    A  155078
8      9    B  125833
9     10    B  126512

---

# ETL

Section 2 content

In [8]:
df_sales.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         5 non-null      int64
 1   Dept          5 non-null      int64
 2   Date          5 non-null      object
 3   Weekly_Sales  5 non-null      float64
 4   IsHoliday     5 non-null      bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 293.0+ bytes

In [9]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [10]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [11]:
df_features['Date'] = pd.to_datetime(df_features['Date'],dayfirst=True)
df_sales['Date'] = pd.to_datetime(df_sales['Date'],dayfirst=True)

In [14]:
# Merging df_sales with df_features

df_sales_features = pd.merge(df_sales, df_features, on=['Store', 'Date'], how='inner')

In [19]:
# Checking df_sales_features for null values

df_sales_features.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
dtype: int64

In [20]:
# Checking df_stores for null values

df_stores.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [21]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block (553063055.py, line 5)